.category-card {
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition:
        transform 0.2s ease,
        box-shadow 0.3s ease;
}

.category-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

@media (width <= 530px) {
    .category-card {
        width: 350px;
        height: 130px;
    }
}
